    <div class="mb-3 pt-2">
        <a href="/dashboard/add/"><button id="add-shoutout" class="btn is-primary is-pulled-right">Adding shoutout</button></a>
        
        <h2 class="title pb-4">main: shouting </h2><hr>
{{#if shoutoutings.length}}
    </div>

    {{#each shoutoutings as |shoutout|}}
        {{> shoutout-desc shoutout}}
        
            <a href="/dashboard/edit/{{shoutout.id}}"><button class="btn mb-3 ml-3 is-warning">edit shoutout</button></a>
        </div>
    {{/each}}

{{else}}
<h6 class="pb-3 has-text-centered is-size-4 has-text-weight-bold is-family-sans-serif">No shoutout available</h6>

{{/if}}


