<form class="signup-form">
  <div>
    <label for="userFname">first name:</label>
    <input type="text" id="userFname-signup" />
  </div>
    <div>
    <label for="userLname">last name:</label>
    <input type="text" id="userLname-signup" />
  </div>
    <div>
    <label for="streetAdress">address:</label>
    <input type="text" id="streetAddress-signup" />
  </div>
 </div>
    <div>
    <label for="city">city:</label>
    <input type="text" id="city-signup" />
  </div>
  <div>
    <label for="state">state:</label>
    <input type="text" id="state-signup" />
  </div>
   <div>
    <label for="zipCode">zip code:</label>
    <input type="text" id="zipCode-signup" />
  </div>
   <div>
    <label for="userEmail">email:</label>
    <input type="text" id="userEmail-signup" />
  </div>
  <div>
    <label for="password">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/assets/js/signup.js"></script>