<section>
    {{!-- <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a> --}}
  <h2 class="title">Create a Shout Out</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="comments"/>
    </div>
    <div>
      <label for="post-content">Shout Out:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="comments"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">Create</button>
  </form>
</section>

<script src="/javascript/create-post.js"></script>