    <div class="container">
      <div class="row">
        <form class="signup-form">
          <p>chit chat signup</p>
          <div class="signup-box">
          <div class="signup-div-1">
            <label for="userFname-signup">first name:</label>
            <input type="text" id="userFname-signup" />
            <br />
            <label for="userLname-signup">last name:</label>
            <input type="text" id="userLname-signup" />
            <br />
            <label for="userEmail-signup">email:</label>
            <input type="text" id="userEmail-signup" />
            <br />
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
          </div>
          <div class="signup-div-2">
            <label for="streetAdress-signup">address:</label>
            <input type="text" id="streetAddress-signup" />
            <br />
            <label for="city-signup">city:</label>
            <input type="text" id="city-signup" />
            <br />
            <label for="state-signup">state:</label>
            <input type="text" id="state-signup" />
            <br />
            <label for="zipCode-signup">zip code:</label>
            <input type="text" id="zipCode-signup" />
            <br />
          </div>
        </div>
          <div>
            <button type="submit" class="btn btn-primary">signup</button>
          </div>
        </form>
      </div>
    </div>

<script src="/assets/js/signup.js"></script>